.admin__menu #menu-improntus-hop-menuprincipal > a:before  {
    opacity: 0.7;
    content: '';
    font-size: 2.4rem;
    display: block;
    position: relative;
    top: -0.3rem;
    width: 35px;
    height: 19px;
    background: url('../images/logo.png');
    background-size: 35px 19px;
    margin: 0 auto;
}

.admin__menu #menu-improntus-hop-menuprincipal:hover > a:before {opacity: 1;}

.hop-shipment-button{
    background: url('../images/logo.png');
    color: #e53a15;
}