<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Hop_Envios::main" title="Hop Envios" sortOrder="100">
                    <resource id="Hop_Envios::webhook_notifications" title="Webhook Notifications" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>