<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="Hop_Envios::SalesOrderPlaceBefore" instance="Hop\Envios\Observer\SalesOrderPlaceBefore"/>
    </event>
    <!--<event name="sales_order_save_after">
        <observer name="Hop_Envios::SalesOrderSaveAfter" instance="Hop\Envios\Observer\SalesOrderSaveAfter" />
    </event>-->
</config>