<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Hop_Envios::menuPrincipal" title="Envíos Hop" module="Magento_Config" sortOrder="70" resource="Magento_Config::brand"/>
        <add id="Hop_Envios::settings" title="Configuración" module="Hop_Envios" parent="Hop_Envios::menuPrincipal" action="adminhtml/system_config/edit/section/shipping/webservice_hop" resource="Hop_Envios::settings" sortOrder="120"/>
        <add id="Hop_Envios::carriers" title="Métodos de envío" module="Hop_Envios" parent="Hop_Envios::menuPrincipal" action="adminhtml/system_config/edit/section/carriers/hop_bicicleta" resource="Hop_Envios::carriers" sortOrder="130"/>
    </menu>
</config>