<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="hop" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Envios HOP</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Habilitado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Título</label>
                </field>
                <field id="description" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Descripción</label>
                </field>
                <field id="hop_free_shipping" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ofrecer los puntos Hop sin cargo a partir de</label>
                    <comment>Ingrese un importe en caso de querer bonificar exclusivamente los puntos Hop a partir de cierto importe. De lo contrario, usar las reglas nativas.</comment>
                </field>
                 <field id="percentage_rate" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ajustar porcentaje de tarifa</label>
                    <comment>Ingrese porcentaje a modificar (por ejemplo 0.5 para descontar un 50% o 1.2 para sumar un 20%)</comment>
                </field>
                <field id="fixed_value" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sumar / restar monto fijo</label>
                    <comment>Ingrese un importe positivo o negativo para sumarlo o restarlo de la tarifa</comment>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="920" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mostrar mensaje de método no disponible en el checkout</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Cuando esta opción este en <strong>SÍ</strong> y el método de envío tenga un error, lo mostrará en el checkout con su correspondiente mensaje (por ejemplo: "No existe cotización para el código postal ingresado"). En caso de estar seleccionado <strong>NO</strong>, y el método de envío tenga un error, éste no será mostrado en el checkout.]]></comment>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Peso máximo habilitado</label>
                       <!--<source_model>Hop\Envios\Model\Source\PesoMaximo</source_model>-->
                </field>
                <group id="statuses" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manejo de estado de las ventas</label>
                    <group id="processing" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Ventas en proceso</label>
                        <field id="E_CON" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Pendiente de ingreso</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_DEP" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Paquete recibido</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_DIS" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En distribución</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_LIS" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Listo para retirar</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_ENT" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Entrega confirmada</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_VEN" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Plazo de entrega vencido para devolución</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_ICDD" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Inicio devolución</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_EDE" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Devolución en proceso</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_DEV" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Devuelto</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_RESC" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En devolución (rescate)</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_ANU" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En devolución (cancelado)</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_ROT" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Rotura</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                        <field id="E_NDEST" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En distribución</label>
                            <source_model>Hop\Envios\Model\Config\Source\ProcessingStatus</source_model>
                        </field>
                    </group>
                    <group id="complete" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Ventas completadas</label>
                        <field id="E_CON" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Pendiente de ingreso</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_DEP" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Paquete recibido</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_DIS" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En distribución</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_LIS" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Listo para retirar</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_ENT" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Entrega confirmada</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_VEN" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Plazo de entrega vencido para devolución</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_ICDD" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Inicio devolución</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_EDE" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Devolución en proceso</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_DEV" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Devuelto</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_RESC" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En devolución (rescate)</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_ANU" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En devolución (cancelado)</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_ROT" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Rotura</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                        <field id="E_NDEST" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>En distribución</label>
                            <source_model>Hop\Envios\Model\Config\Source\CompleteStatus</source_model>
                        </field>
                    </group>
                </group>
            </group>

        </section>
        <section id="shipping" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="hop" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración de webservices HOP</label>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <comment>Dato provisto por HOP</comment>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret key</label>
                    <validate>required-entry</validate>
                    <comment>Dato provisto por HOP</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key Google Maps</label>
                    <validate>required-entry</validate>
                </field>
                <field id="email" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                    <validate>required-entry</validate>
                </field>
                <field id="password" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <validate>required-entry</validate>
                </field>
                <field id="modo_productivo" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Modo Productivo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="origin_zipcode" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Código postal de origen</label>
                    <validate>required-entry</validate>
                    <comment>Zipcode del deposito de origen usado para estimar el envio</comment>
                </field>
                <field id="seller_code" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Code</label>
                    <validate>required-entry</validate>
                    <comment>Dato provisto por HOP</comment>
                </field>
                <field id="storage_code" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Storage Code</label>
                    <source_model>Hop\Envios\Model\Config\Source\StorageCodeOption</source_model>
                    <validate>required-entry</validate>
                    <comment>Dato provisto por HOP</comment>
                </field>
                <field id="shipping_type" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tipo de Envio</label>
                    <source_model>Hop\Envios\Model\Config\Source\TypeShippingOption</source_model>
                </field>
                <field id="type_label" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tipo de Etiqueta</label>
                    <source_model>Hop\Envios\Model\Config\Source\TypeLabelOption</source_model>
                    <comment>Formato de descarga para etiquetas de despacho</comment>
                </field>
                <field id="days_offset" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dias de preparacion</label>
                    <comment>Número de dias para preparar el envío, establezca 0 si no es necesario</comment>
                </field>
                <field id="measure_attribute_alto" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Atributo para Alto</label>
                    <comment>Selecciona el atributo de producto que se utilizará para los cálculos de envío</comment>
                    <source_model>Hop\Envios\Model\Config\Source\ProductAttributes</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="measure_attribute_largo" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Atributo para Largo</label>
                    <comment>Selecciona el atributo de producto que se utilizará para los cálculos de envío</comment>
                    <source_model>Hop\Envios\Model\Config\Source\ProductAttributes</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="measure_attribute_ancho" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Atributo para Ancho</label>
                    <comment>Selecciona el atributo de producto que se utilizará para los cálculos de envío</comment>
                    <source_model>Hop\Envios\Model\Config\Source\ProductAttributes</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="size_category" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tamaño de categoria</label>
                    <source_model>Hop\Envios\Model\Config\Source\SizeCategoryOption</source_model>
                        <comment><![CDATA[
                            <div class="admin__field-note">
                                <table class="admin__table-secondary">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Tamaño</th>
                                            <th style="text-align: center;">Altura</th>
                                            <th style="text-align: center;">Profundidad</th>
                                            <th style="text-align: center;">Ancho</th>
                                            <th style="text-align: center;">Peso</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">1</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">13</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">7</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">19,5</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">0 a 0,500</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">2</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">20</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">11</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">30</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">0,501 a 1,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">3</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">25</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">16</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">35</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">1,001 a 2,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">4</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">80</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">80</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">80</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">2,001 a 5,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">5</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">90</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">90</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">90</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">5,001 a 10,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">6</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">100</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">100</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">100</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">10,001 a 15,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">7</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">110</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">110</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">110</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">15,001 a 20,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">8</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">120</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">120</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">120</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">20,001 a 25,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">9</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">130</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">130</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">130</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">25,501 a 30,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">10</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">140</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">140</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">140</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">30,001 a 35,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">11</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">150</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">150</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">150</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">35,001 a 40,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">12</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">160</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">160</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">160</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">40,001 a 45,000</td></tr>
                                        <tr><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">13</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">170</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">170</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">170</td><td style="text-align: center;vertical-align: middle;padding-bottom: 2.2rem;">45,001 a 165,000</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        ]]></comment>
                </field>
                <field id="validate_client_id" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Validar cliente</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requiere foto para la entrega del paquete</comment>
                </field>
                <field id="use_customer_taxvat" translate="label" type="select" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Utilizar "taxvat" como número de documento</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_document_attribute" translate="label" type="text" sortOrder="156" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Código del atributo para utilizar como dni</label>
                    <depends>
                        <field id="use_customer_taxvat">0</field>
                    </depends>
                    <comment>Este atributo se obtiene de la tabla sales_order. Solo modificar este campo si posee conocimientos técnicos</comment>
                </field>
                <field id="status_allowed" translate="label" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Estados para generacion etiqueta</label>
                    <validate>required-entry</validate>
                    <source_model>Hop\Envios\Model\Config\Source\StatusOrderOption</source_model>
                    <comment>Cuando el pedido cambie de estado a cualquiera de los seleccionados, se generará la etiqueta de despacho automáticamente.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
